<?xml version="1.0"?>
<config>
    <modules>
        <Ave_ColorSwatch>
            <version>1.3.3</version>
        </Ave_ColorSwatch>
    </modules>
    <global>
        <models>
            <ave_colorswatch>
                <class>Ave_ColorSwatch_Model</class>
                <resourceModel>ave_colorswatch_resource</resourceModel>
            </ave_colorswatch>
            <ave_colorswatch_resource>
                <class>Ave_ColorSwatch_Model_Resource</class>
                <entities>
                    <attribute>
                        <table>ave_colorswatch_eav_attribute</table>
                    </attribute>
                    <option>
                        <table>ave_colorswatch_eav_attribute_option</table>
                    </option>
                </entities>
            </ave_colorswatch_resource>
            <checkout>
                <rewrite>
                    <cart>Ave_ColorSwatch_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
        </models>
        <helpers>
            <ave_colorswatch>
                <class>Ave_ColorSwatch_Helper</class>
            </ave_colorswatch>
        </helpers>
        <blocks>
            <ave_colorswatch>
                <class>Ave_ColorSwatch_Block</class>
            </ave_colorswatch>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Ave_ColorSwatch_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Ave_ColorSwatch_Block_Catalogsearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
        </blocks>
        <resources>
            <ave_colorswatch_setup>
                <setup>
                    <module>Ave_ColorSwatch</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </ave_colorswatch_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ave_colorswatch>
                    <file>ave/color_swatch.xml</file>
                </ave_colorswatch>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <ave_add_options>
                        <type>model</type>
                        <class>ave_colorswatch/observer</class>
                        <method>addProductOptions2Session</method>
                    </ave_add_options>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>
            <catalog_controller_product_view>
                <observers>
                    <ave_add_options>
                        <type>model</type>
                        <class>ave_colorswatch/observer</class>
                        <method>getProductOptions2Session</method>
                    </ave_add_options>
                </observers>
            </catalog_controller_product_view>
        </events>
        <product>
            <configurable>
                <child>
                    <attributes>
                        <name />
                        <price />
                    </attributes>
                </child>
            </configurable>
        </product>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <ave_colorswatch before="Mage_Checkout">Ave_ColorSwatch</ave_colorswatch>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ave_colorswatch>
                    <file>ave/color_swatch.xml</file>
                </ave_colorswatch>
            </updates>
        </layout>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <ave_save_attribute_data>
                        <type>singleton</type>
                        <class>ave_colorswatch/observer</class>
                        <method>onSaveAttribute</method>
                    </ave_save_attribute_data>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_entity_attribute_delete_before>
                <observers>
                    <ave_delete_attribute_data>
                        <class>ave_colorswatch/observer</class>
                        <method>onDeleteAttribute</method>
                    </ave_delete_attribute_data>
                </observers>
            </catalog_entity_attribute_delete_before>
            <controller_action_layout_load_before>
                <observers>
                    <ave_colorswatch>
                        <class>ave_colorswatch/observer</class>
                        <method>addCustomLayoutConfigHandle</method>
                    </ave_colorswatch>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ave_color_swatch>
                                            <title>Color Swatch</title>
                                        </ave_color_swatch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <attribute-media>
                <use>admin</use>
                <args>
                    <module>Ave_ColorSwatch</module>
                    <frontName>attribute-media</frontName>
                </args>
            </attribute-media>
            <adminhtml>
                <args>
                    <modules>
                        <Ave_ColorSwatch before="Mage_Adminhtml">Ave_ColorSwatch_Adminhtml</Ave_ColorSwatch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <ave_color_swatch>
            <product_view_group>
                <product_module_enable>1</product_module_enable>
                <product_swatch_shape>square</product_swatch_shape>
                <product_tooltip_width>100</product_tooltip_width>
                <product_tooltip_height>100</product_tooltip_height>
                <product_show_slider>1</product_show_slider>
                <product_show_default_input>0</product_show_default_input>
                <product_show_tooltip>1</product_show_tooltip>
            </product_view_group>
            <style_settings>
                <swatch_width>35</swatch_width>
                <swatch_height>35</swatch_height>
                <list_option_height>31</list_option_height>
                <list_option_width>31</list_option_width>
                <option_border_size>1</option_border_size>
                <option_border_color>#CCCCCC</option_border_color>
                <active_option_border_size>1</active_option_border_size>
                <active_option_border_color>#FF0000</active_option_border_color>
                <use_crop>1</use_crop>
            </style_settings>
            <product_list_group>
                <list_module_enable>0</list_module_enable>
                <list_show_slider>1</list_show_slider>
                <list_tooltip_width>100</list_tooltip_width>
                <list_tooltip_height>100</list_tooltip_height>
                <list_show_default_input>0</list_show_default_input>
                <product_change_name>0</product_change_name>
                <list_show_tooltip>1</list_show_tooltip>
                <grid_swatch_float>center</grid_swatch_float>
                <list_swatch_float>left</list_swatch_float>
                <list_mouseover_action>1</list_mouseover_action>
            </product_list_group>
            <developer_tools>
                <swatch_mouse_over>1</swatch_mouse_over>
                <image_selector>#image, #image-main, #wrap > a > img, #gallery-swipe > li > a > img, #magnify-small, #magnify-small2, #cloud_zoom > img, #gallery-image img</image_selector>
                <product_name_selector>.product-name h1, .product-name .h1</product_name_selector>
                <product_sku_selector>.sku span</product_sku_selector>
                <short_description_selector>.short-description .std</short_description_selector>
                <description_selector>.box-description .std, .tab-content .std</description_selector>
                <thumbnail_image_width>75</thumbnail_image_width>
                <gallery_selector>.more-views ul, .owl-stage-outer .owl-stage, div.MagicToolboxSelectorsContainer > div, .jCarouselLite ul</gallery_selector>
                <product_name_selector_list>.product-name a</product_name_selector_list>
                <gallery_image_selector>.more-views a, .more-views a.cloud-zoom-gallery, .owl-stage-outer .owl-stage a.thumb-link, div.MagicToolboxSelectorsContainer > div > a, .jCarouselLite ul a</gallery_image_selector>
                <zoom_image_selector>.zoomWindowContainer .zoomWindow, #cloud-zoom-big, .zoomWindow, #zoom1, #yt_cloudzoom, .magic-hidden-wrapper .mz-zoom-window</zoom_image_selector>
                <gallery_image_template>&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;thumb-link&quot; data-image-index=&quot;%index%&quot; onclick=&quot;popWin(&apos;%zoom_image%&apos;,&apos;gallery&apos;,&apos;width=400,height=400,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes&apos;); return false;&quot; title=&quot;%title%&quot;&gt;&lt;img src=&quot;%thumbnail%&quot; alt=&quot;%alt%&quot; /&gt;&lt;/a&gt;&lt;/li&gt;</gallery_image_template>
                <image_keep_frame>0</image_keep_frame>
                <list_image_keep_frame>1</list_image_keep_frame>
                <list_image_width>210</list_image_width>
                <list_image_height>210</list_image_height>
            </developer_tools>
        </ave_color_swatch>
    </default>
</config>